@(items: scala.collection.mutable.ArrayBuffer[models.Item])

@display(id: Int, item: Item) = {
    <tr>
        <td><a href="@routes.ItemController.showItem(id)">@item.name</a></td>
        <td>@item.price</td>
        <td>
        @if(!item.inStock) {
            <span class="badge badge-danger">Out of stock</span>
        }
        </td>
    </tr>
}

@main("Pokemart Online - Items") {
    <h2>This is the items page</h2>

    @if(items.isEmpty) {
        <h5>No items to display</h5>
    } else {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Item name</th>
                    <th>Item price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(i <- items.indices){
                    @display(i, items(i))
                }
            </tbody>
        </table>
    }
    <br>
    <a href="@routes.ItemController.newItem()" class="btn btn-outline-info">New Item</a>
}