@(item: models.Item, form: Form[models.Basket.BuyItem])(implicit messages: Messages)

@main("Pokemart Online - View Item") {
    <h2>@item.name</h2>
    <br>
    <p>
        <b>Price: </b>
        @item.price
    </p>
    <p>
        <b>Description</b>
        @item.description
    </p>
    <p>
        @if(item.stock >= 10) {
            Currently in stock
        } else {
            @if(item.inStock) {
                Hurry! There are only @item.stock left!
            } else {
                Out of stock
            }
        }
    </p>
    @if(item.inStock) {
        <br>

        @helper.form(routes.BasketController.addItem()) {
            <input type="hidden" value="@item.id" name="id"/>
            @helper.inputText(form("number"), '_label -> "Number of Items", '_showConstraints -> false)
            <button type="submit" class="btn btn-outline-dark">Add to Basket</button>
        }

    }
    <br><br>
    <a href="@routes.ItemController.editItem(item.id)">Edit Item</a>
    <br>
    <a href="@routes.ItemController.allItems()">Back</a>
}