@(item: models.Item)

@main("Pokemart Online - View Item") {
    <h2>@item.name</h2>
    <br>
    <p>
        <b>Price: </b>
        @item.price
    </p>
    <p>
        <b>Description</b>
        @item.description
    </p>
    <p>
        @if(item.stock >= 10) {
            Currently in stock
        } else {
            @if(item.inStock) {
                Hurry! There are only @item.stock left!
            } else {
                Out of stock
            }
        }
    </p>
    @if(item.inStock) {
        <br>
        <a class="btn btn-outline-dark" href="@routes.BasketController.addItem(item.id)">Add to Basket</a>
    }
    <br><br>
    <a href="@routes.ItemController.allItems()">Back</a>
}