@main("Trainer Information") {
    <p>Some helpful information</p>

    <p>Type matchups <small>On all 18 types</small></p>
    <p>Tips on pokemon hunting?</p>


    @*
        Have the types table
        I don't want to hard-code this!

        colour the types?

        Normal
        Fighting
        Fire
        Water
        Grass
        Bug
        Poison
        Ghost
        Flying
        Ground
        Rock
        Psychic
        Ice
        Dragon
        Electric
        Dark
        Steel
        Fairy
    *@
    <table>

    </table>
}